*.o
*.obj
*.OBJ
*.MAP
*.EXE
*.BAK
*.bak
*.TR
*.ARC
*.TFA
*.out
*.BMP
*.jpg
*.CSM
*.TD
*.$ln
*.a
flag_fhd.png
flag_orig.png

emdemo
emx16demo
vgademo
png
viewpng
.settings/

#just ref material
rgbhsv.cpp
rgbmix.cpp
